<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="lib/element-ui/theme-default/index.css">
    <style type="text/css">
    html,
    body {
        height: 100%;
        margin: 0;
        overflow: hidden;
    }
    
    .layout-logo {
        width: 100px;
        height: 30px;
        background: #5b6270;
        border-radius: 3px;
        float: left;
        position: relative;
        top: 15px;
        left: 20px;
    }
    
    .layout-assistant {
        float: right;
        margin-right: 20px;
    }
    
    .layout-header {
        height: 60px;
        background-color: #324157;
    }
    
    .layout-sidebar {
        position: absolute;
        width: 250px;
        left: 0;
        top: 60px;
        bottom: 0;
    }
    
    .layout-sidebar>ul {
        height: 100%;
        overflow: auto;
    }
    
    .layout-content {
        position: absolute;
        left: 250px;
        right: 0;
        top: 60px;
        bottom: 0;
    }
    </style>
</head>

<body>
    <div id="app">
        <div class="layout-header">
            <div class="layout-logo"></div>
            <div class="layout-assistant">
                <el-menu theme="dark" mode="horizontal">
                    <el-submenu index="1">
                        <template slot="title">{{ loginName }}</template>
                        <el-menu-item index="1-1" @click="dialogVisible = true">修改密码</el-menu-item>
                        <el-menu-item index="1-2" @click="logout">退出</el-menu-item>
                    </el-submenu>
                </el-menu>
            </div>
        </div>
        <div class="layout-sidebar">
            <el-menu @select="handleSelect">
                <template v-for="child in menu">
                    <submenu :child="child"></submenu>
                </template>
            </el-menu>
        </div>
        <div class="layout-content">
            <!-- <el-tabs type="card" closable value="home">
                <el-tab-pane label="首页" name="home">                    
                    首页
                </el-tab-pane>
                <el-tab-pane v-for="(item, index) in contentTabs" :label="item.title" :name="item.name">                    
                    <iframe :src="item.src" frameborder="0" style="width:100%; height:100%; border: 0; overflow: hidden;"></iframe>
                </el-tab-pane>
            </el-tabs> -->
            <iframe :src="src" frameborder="0" style="width:100%; height:100%; border: 0; overflow: hidden;"></iframe>
        </div>
        <el-dialog title="修改密码" v-model="dialogVisible" size="tiny">
            <el-form :model="passwordForm" :rules="rules" ref="passwordForm">
                <el-form-item label="原密码" prop="login_pwd">
                    <el-input type="password" v-model="passwordForm.login_pwd" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="新密码" prop="new_login_pwd">
                    <el-input type="password" v-model="passwordForm.new_login_pwd" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="确认密码" prop="new_login_pwd2">
                    <el-input type="password" v-model="passwordForm.new_login_pwd2" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer">
                <el-button @click="resetForm('passwordForm')">取 消</el-button>
                <el-button type="primary" @click="submitForm('passwordForm')">确 定</el-button>
            </div>
        </el-dialog>
    </div>
    <!-- 先引入 Vue -->
    <script src="lib/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="lib/element-ui/index.js"></script>
    <script src="lib/axios/axios.js"></script>
    <script src="js/base2.js"></script>
    <script>
    Vue.component('submenu', {
        props: ['child'],
        template: '<el-submenu v-if="child.children" :index="child.menu_id"> <template slot="title"><i class="el-icon-menu"></i>{{ child.menu_name }}</template> <!-- submenu --> <template v-for="grandchild in child.children"> <submenu :child="grandchild"></submenu> </template> <!-- submenu --> </el-submenu> <el-menu-item v-else :index="child.menu_id"><i class="el-icon-menu"></i>{{ child.menu_name }}</el-menu-item>'
    });

    var vm = new Vue({
        el: '#app',
        data: {
            dialogVisible: false,
            loginName: '我',
            src: '',
            menu: [],
            // contentTabs: [{
            //     title: 'Tab 1',
            //     name: '1',
            //     src: 'https://www.baidu.com'
            // }],
            ruleForm: {
                name: '',
                region: '',
                date1: '',
                date2: '',
                delivery: false,
                type: [],
                resource: '',
                desc: ''
            },
            passwordForm: {
                login_pwd: '',
                new_login_pwd: '',
                new_login_pwd2: ''
            },
            rules: {}
        },
        methods: {
            logout: function() {
                $$.request('/action/user/logout', {}, function() {
                    window.location.href = 'login.html';
                });
            },
            handleSelect: function(key, keyPath) {
                var menu;
                var children = this.menu;
                for (var i = 0; i < keyPath.length; i++) {
                    for (var j = 0; j < children.length; j++) {
                        if (children[j].menu_id == keyPath[i]) {
                            menu = children[j];
                            children = menu.children;
                            break;
                        }
                    }
                }

                this.src = menu.url;

                console.log(this, arguments);
            },
            handleOpen: function(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose: function(key, keyPath) {
                console.log(key, keyPath);
            },
            submitForm: function(formName) {
                this.$refs[formName].validate(function(valid) {
                    if (valid) {
                        var loadingInstance = vm.$loading();
                        setTimeout(function() {
                            loadingInstance.close();
                            vm.$message({
                                showClose: true,
                                message: '操作成功',
                                type: 'success'
                            });
                            vm.dialogVisible = false;
                        }, 1000);
                    } else {
                        vm.$message({
                            showClose: true,
                            message: '请检查数据',
                            type: 'warning'
                        });
                        return false;
                    }
                });


            },
            resetForm: function(formName) {
                var form = this.$refs[formName];
                if (form) form.resetFields();
            }
        }
    });


    function generateMenuData(rows) {
        var data = [];
        var temp = {};

        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            temp[row.menu_id] = row;
        }

        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            var p = temp[row.menu_pid];
            if (!p) { //没有找到parent
                data.push(row);
            } else { //找到parent
                p.children = p.children || [];
                p.children.push(row);
            }
            row.menu_id += '';
        }

        return data;
    }


    $$.request('/action/user/view', {}, function(data) {
        vm.loginName = data.data.login_name;
    }, function(data) {
        if ($$.errcode(data) == -11 || $$.errcode(data) == 5) {
            window.location.href = 'login.html';
        }
    });

    $$.request('/action/user/menu', {}, function(data) {
        vm.menu = generateMenuData(data.rows);
    });
    </script>
</body>

</html>
