<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="lib/element-ui/theme-default/index.css">
    <style type="text/css">
    html,
    body {
        height: 100%;
        margin: 0;
    }
    
    .layout {
        border: 1px solid #d7dde4;
        background: #f5f7f9;
    }
    
    .layout-logo {
        width: 100px;
        height: 30px;
        background: #5b6270;
        border-radius: 3px;
        float: left;
        position: relative;
        top: 15px;
        left: 20px;
    }
    
    .layout-assistant {
        float: right;
        margin-right: 20px;
    }
    
    .layout-nav {
        /*margin: 15px 0 15px 15px;*/
        margin: 15px 0 0 0;
        border-radius: 4px;
    }
    
    .layout-content {
        min-height: 800px;
        margin: 15px;
        overflow: hidden;
        background: #fff;
        border-radius: 4px;
    }
    
    .layout-content-main {
        height: 100%;
        padding: 10px;
    }
    
    .layout-copy {
        text-align: center;
        padding: 0 0 10px;
        color: #9ea7b4;
    }
    </style>
</head>

<body>
    <div id="app" class="layout">
        <el-row class="el-menu--dark">
            <div class="layout-logo"></div>
            <div class="layout-assistant">
                <el-menu theme="dark" mode="horizontal">
                    <el-submenu index="1">
                        <template slot="title">我</template>
                        <el-menu-item index="1-1" @click="dialogVisible = true; resetForm('passwordForm')">修改密码</el-menu-item>
                        <el-menu-item index="1-2">退出</el-menu-item>
                    </el-submenu>
                </el-menu>
            </div>
        </el-row>
        <el-row>
            <el-col :span="5">
                <div class="layout-nav">
                    <el-menu>
                        <template v-for="child in items">
                            <submenu :child="child"></submenu>
                        </template>
                    </el-menu>
                </div>
            </el-col>
            <el-col :span="19">
                <div class="layout-content">
                    <div class="layout-content-main">
                        <!-- <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                            <el-form-item label="活动名称" prop="name">
                                <el-input v-model="ruleForm.name"></el-input>
                            </el-form-item>
                            <el-form-item label="活动区域" prop="region">
                                <el-select v-model="ruleForm.region" placeholder="请选择活动区域">
                                    <el-option label="区域一" value="shanghai"></el-option>
                                    <el-option label="区域二" value="beijing"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="活动时间" required>
                                <el-col :span="11">
                                    <el-form-item prop="date1">
                                        <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm.date1" style="width: 100%;"></el-date-picker>
                                    </el-form-item>
                                </el-col>
                                <el-col class="line" :span="2">-</el-col>
                                <el-col :span="11">
                                    <el-form-item prop="date2">
                                        <el-time-picker type="fixed-time" placeholder="选择时间" v-model="ruleForm.date2" style="width: 100%;"></el-time-picker>
                                    </el-form-item>
                                </el-col>
                            </el-form-item>
                            <el-form-item label="即时配送" prop="delivery">
                                <el-switch on-text="" off-text="" v-model="ruleForm.delivery"></el-switch>
                            </el-form-item>
                            <el-form-item label="活动性质" prop="type">
                                <el-checkbox-group v-model="ruleForm.type">
                                    <el-checkbox label="美食/餐厅线上活动" name="type"></el-checkbox>
                                    <el-checkbox label="地推活动" name="type"></el-checkbox>
                                    <el-checkbox label="线下主题活动" name="type"></el-checkbox>
                                    <el-checkbox label="单纯品牌曝光" name="type"></el-checkbox>
                                </el-checkbox-group>
                            </el-form-item>
                            <el-form-item label="特殊资源" prop="resource">
                                <el-radio-group v-model="ruleForm.resource">
                                    <el-radio label="线上品牌商赞助"></el-radio>
                                    <el-radio label="线下场地免费"></el-radio>
                                </el-radio-group>
                            </el-form-item>
                            <el-form-item label="活动形式" prop="desc">
                                <el-input type="textarea" v-model="ruleForm.desc"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
                                <el-button @click="resetForm('ruleForm')">重置</el-button>
                            </el-form-item>
                        </el-form> -->
                        <iframe :src="src" frameborder="0" style="width:100%; height:100%; border: 0; overflow: hidden;"></iframe>
                    </div>
                </div>
            </el-col>
        </el-row>
        <el-row>
            <div class="layout-copy">
                2017 &copy;
            </div>
        </el-row>
        <el-dialog title="修改密码" v-model="dialogVisible">
            <el-form :model="passwordForm" :rules="rules" ref="passwordForm">
                <el-form-item label="原密码" prop="login_pwd">
                    <el-input type="password" v-model="passwordForm.login_pwd" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="新密码" prop="new_login_pwd">
                    <el-input type="password" v-model="passwordForm.new_login_pwd" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="确认密码" prop="new_login_pwd2">
                    <el-input type="password" v-model="passwordForm.new_login_pwd2" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer">
                <el-button @click="resetForm('passwordForm')">取 消</el-button>
                <el-button type="primary" @click="submitForm('passwordForm')">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</body>
<!-- 先引入 Vue -->
<script src="lib/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="lib/element-ui/index.js"></script>
<script src="lib/axios/axios.js"></script>
<script>
Vue.component('submenu', {
    props: ['child'],
    template: '<el-submenu v-if="child.children" :index="child.id"> <template slot="title"><i class="el-icon-menu"></i>{{ child.text }}</template> <!-- submenu --> <template v-for="grandchild in child.children"> <submenu :child="grandchild"></submenu> </template> <!-- submenu --> </el-submenu> <el-menu-item v-else :index="child.id"><i class="el-icon-menu"></i>{{ child.text }}</el-menu-item>'
});

var vm = new Vue({
    el: '#app',
    data: {
        visible: false,
        dialogVisible: false,
        src: 'http://www.baidu.com',
        items: [{
            id: '1',
            text: '菜单1',
            children: [{
                id: '1-1',
                text: '菜单1-1'
            }, {
                id: '1-2',
                text: '菜单1-2'
            }]
        }, {
            id: '2',
            text: '菜单2'
        }],
        ruleForm: {
            name: '',
            region: '',
            date1: '',
            date2: '',
            delivery: false,
            type: [],
            resource: '',
            desc: ''
        },
        passwordForm: {
            login_pwd: '',
            new_login_pwd: '',
            new_login_pwd2: ''
        },
        rules: {
            name: [{
                required: true,
                message: '请输入活动名称',
                trigger: 'blur'
            }, {
                min: 3,
                max: 5,
                message: '长度在 3 到 5 个字符',
                trigger: 'blur'
            }],
            region: [{
                required: true,
                message: '请选择活动区域',
                trigger: 'change'
            }],
            date1: [{
                type: 'date',
                required: true,
                message: '请选择日期',
                trigger: 'change'
            }],
            date2: [{
                type: 'date',
                required: true,
                message: '请选择时间',
                trigger: 'change'
            }],
            type: [{
                type: 'array',
                required: true,
                message: '请至少选择一个活动性质',
                trigger: 'change'
            }],
            resource: [{
                required: true,
                message: '请选择活动资源',
                trigger: 'change'
            }],
            desc: [{
                required: true,
                message: '请填写活动形式',
                trigger: 'blur'
            }],
            login_pwd: [{
                required: true,
                message: '请输入原密码',
                trigger: 'blur'
            }]
        }
    },
    methods: {
        handleOpen: function(key, keyPath) {
            console.log(key, keyPath);
        },
        handleClose: function(key, keyPath) {
            console.log(key, keyPath);
        },
        submitForm: function(formName) {
            this.$refs[formName].validate(function(valid) {
                if (valid) {
                    var loadingInstance = vm.$loading();
                    setTimeout(function() {
                        loadingInstance.close();
                        vm.$message({
                            showClose: true,
                            message: '操作成功',
                            type: 'success'
                        });
                        vm.dialogVisible = false;
                    }, 1000);
                } else {
                    vm.$message({
                        showClose: true,
                        message: '请检查数据',
                        type: 'warning'
                    });
                    return false;
                }
            });


        },
        resetForm: function(formName) {
            var form = this.$refs[formName];
            if (form) form.resetFields();
        }
    }
});
</script>

</html>
