html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*font-size: 12px;*/
}

.weui-cells {
    font-size: 14px;
}

.weui-cell__bd {
    position: relative;
}

.hide {
    display: none;
}

.required {
    color: red;
}


/* 图标 */

[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
}

.icon-plus {
    width: 24px;
    height: 24px;
    background-image: url('plus.svg');
}

.icon-balance {
    width: 28px;
    height: 28px;
    background-image: url('balance.svg');
}

.icon-bank-card {
    width: 28px;
    height: 28px;
    background-image: url('bank-card.svg');
}

.icon-income {
    width: 28px;
    height: 28px;
    background-image: url('income.svg');
}

.icon-income-b {
    width: 28px;
    height: 28px;
    background-image: url('income-b.svg');
}

.icon-setting {
    width: 28px;
    height: 28px;
    background-image: url('setting.svg');
}

.icon-my {
    width: 28px;
    height: 28px;
    background-image: url('my.svg');
}

.icon-user {
    width: 60px;
    height: 60px;
    background-image: url('user.svg');
}

.icon-home {
    width: 28px;
    height: 28px;
    background-image: url('home.svg');
}

.icon-list {
    width: 28px;
    height: 28px;
    background-image: url('list.svg');
}

.icon-friend {
    width: 28px;
    height: 28px;
    background-image: url('friend.svg');
}

.icon-wealth {
    width: 28px;
    height: 28px;
    background-image: url('wealth.svg');
}

.icon-business {
    width: 28px;
    height: 28px;
    background-image: url('business.svg');
}

.icon-edit {
    width: 28px;
    height: 28px;
    background-image: url('edit.svg');
}

.icon-history {
    width: 28px;
    height: 28px;
    background-image: url('history.svg');
}

.icon-more {
    width: 28px;
    height: 28px;
    background-image: url('more.svg');
}

.icon-history-b {
    width: 28px;
    height: 28px;
    background-image: url('history-b.svg');
}

.icon-search {
    width: 28px;
    height: 28px;
    background-image: url('search.svg');
}

.icon-location {
	width: 28px;
    height: 28px;
	font-size: 23px;
    background-image: url('location.svg');
}
