html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*font-size: 12px;*/
}

.weui-cells {
    font-size: 14px;
}

.weui-cell__bd {
    position: relative;
}

.hide {
    display: none;
}

.required {
    color: red;
}


/* 图标 */

[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
}

.icon-plus {
    width: 24px;
    height: 24px;
    background-image: url('plus.svg');
}

.icon-balance {
    width: 28px;
    height: 28px;
    background-image: url('余额.svg');
}

.icon-bank-card {
    width: 28px;
    height: 28px;
    background-image: url('银行卡.svg');
}

.icon-income {
    width: 28px;
    height: 28px;
    background-image: url('收益.svg');
}

.icon-other-income {
    width: 28px;
    height: 28px;
    background-image: url('其他收入.svg');
}

.icon-setting {
    width: 28px;
    height: 28px;
    background-image: url('设置.svg');
}

.icon-my {
    width: 28px;
    height: 28px;
    background-image: url('my.svg');
}

.icon-user {
    width: 60px;
    height: 60px;
    background-image: url('用户.svg');
}

.icon-home {
    width: 28px;
    height: 28px;
    background-image: url('home.svg');
}

.icon-list {
    width: 28px;
    height: 28px;
    background-image: url('列表.svg');
}

.icon-friend {
    width: 28px;
    height: 28px;
    background-image: url('friend.svg');
}

.icon-merchant {
    width: 28px;
    height: 28px;
    background-image: url('财富A.svg');
}

.icon-business {
    width: 28px;
    height: 28px;
    background-image: url('业务.svg');
}

.icon-edit {
    width: 28px;
    height: 28px;
    background-image: url('编辑.svg');
}

.icon-history {
    width: 28px;
    height: 28px;
    background-image: url('历史.svg');
}

.icon-more {
    width: 28px;
    height: 28px;
    background-image: url('更多.svg');
}

.icon-history-b {
    width: 28px;
    height: 28px;
    background-image: url('历史B.svg');
}

.icon-search {
    width: 28px;
    height: 28px;
    background-image: url('search.svg');
}
