<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商户电子资料</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../lib/element-ui/theme-default/index.css">
    <style type="text/css">
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;
    }
    
    #app {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    
    .search-box {
        padding: 20px;
    }
    
    .detail-box {
        padding: 20px;
    }
    
    .form-box {
        min-width: 400px;
        max-width: 800px;
    }
    
    .pagination {
        margin: 20px 0;
        text-align: right;
    }
    </style>
</head>

<body>
    <div id="app">
        <div class="search-box" v-if="!detailVisible">
            <div class="form-box">
                <el-form ref="searchForm" :model="searchForm" :inline="true">
                    <el-form-item label="客户号" prop="mchnt_id">
                        <el-input v-model="searchForm.mchnt_id"></el-input>
                    </el-form-item>
                    <el-form-item label="影印件类型" prop="elec_info_type">
                        <el-select v-model="searchForm.elec_info_type" filterable placeholder="请选择">
                            <el-option v-for="item in elecInfoType" :label="item.text" :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('searchForm')">查询</el-button>
                        <el-button @click="resetForm('searchForm')">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <el-table :data="pagination.data" border style="width: 100%">
                <el-table-column prop="mchnt_id" label="客户号"></el-table-column>
                <el-table-column prop="serverid" label="文件名">
                    <template scope="scope">
                        <a href="/p/action/uploads/{{scope.row.serverid}}" target="_blank">{{scope.row.filename}}</a>
                    </template>
                </el-table-column>
                <el-table-column prop="elec_info_type" label="影印件类型" :formatter="formatElecInfoType"></el-table-column>
                <el-table-column prop="created_time" label="创建时间"></el-table-column>
                <!-- <el-table-column label="操作" width="150">
                    <template scope="scope">
                        <el-button size="small" @click="handleView(scope.$index, scope.row)">查看</el-button>
                        <el-button size="small" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                    </template>
                </el-table-column> -->
            </el-table>
            <div class="pagination">
                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="pagination.page" :page-sizes="[10, 20, 50, 100]" :page-size="pagination.rows" layout="total, sizes, prev, pager, next, jumper" :total="pagination.total">
                </el-pagination>
            </div>
        </div>
        <div class="detail-box">
            <div class="form-box">
                <el-form ref="detailForm" :model="detailForm" :rules="rules" :inline="true" label-width="100px">
                    <el-form-item label="客户号" prop="mchnt_id">
                        <el-input v-model="detailForm.mchnt_id"></el-input>
                    </el-form-item>
                    <el-form-item label="影印件类型" prop="elec_info_type">
                        <el-select v-model="detailForm.elec_info_type" filterable placeholder="请选择">
                            <el-option v-for="item in elecInfoType" :label="item.text" :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('detailForm')">提交</el-button>
                    </el-form-item>
                </el-form>
                <el-upload action="/p/action/upload" list-type="picture-card" multiple ref="upload" :on-preview="handlePictureCardPreview" :on-remove="handleRemove">
                    <i class="el-icon-plus"></i>
                </el-upload>
                <el-dialog v-model="dialogVisible">
                    <img width="100%" :src="dialogImageUrl" alt="">
                </el-dialog>
            </div>
        </div>
    </div>
    <!-- 先引入 Vue -->
    <script src="../lib/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../lib/element-ui/index.js"></script>
    <script src="../lib/axios/axios.js"></script>
    <script src="../js/base2.js"></script>
    <script src="../js/st.js"></script>
    <script src="../js/param.js"></script>
    <script>
    function onSearch() {
        console.log(this, arguments);
        var param = $$.extend({}, vm.searchForm, vm.pagination);
        $$.request('/action/bm/mchnt-elec-info/search', param, function(data) {
            vm.pagination.data = data.rows;
            vm.pagination.total = data.total;
        });
    }

    function onView(param) {
        vm.detailVisible = true;

        $$.request('/action/bm/mchnt-elec-info/view', param, function(data) {
            vm.detailForm = data.data;
        });
    }

    function onSubmit() {
        var uploadFiles = vm.$refs.upload.uploadFiles;
        if(uploadFiles.length == 0) return;
        
        var data = $$.extend({}, vm.detailForm);
        data.images = [];

        for (var i = 0; i < uploadFiles.length; i++) {
            data.images.push({
                filename: uploadFiles[i].name,
                serverid: uploadFiles[i].response.serverid
            });
        }

        $$.request('/action/bm/mchnt-elec-info/batch-create', data, function(data) {
            //
        });
    }


    var vm = new Vue({
        el: '#app',
        data: {
            dialogImageUrl: '',
            dialogVisible: false,
            operateType: null,
            detailVisible: false,
            searchForm: {
                mchnt_id: '',
                elec_info_type: ''
            },
            pagination: {
                page: 1,
                rows: 10,
                total: 0,
                data: []
            },
            elecInfoType: $$.param['elec_info_type'],
            detailForm: {
                mchnt_id: '',
                elec_info_type: ''
            },
            rules: {
                mchnt_id: [{
                    required: true,
                    message: '请输入客户号',
                    trigger: 'blur'
                }],
                serverid: [{
                    required: true,
                    message: '请输入服务端ID',
                    trigger: 'blur'
                }],
                elec_info_type: [{
                    required: true,
                    message: '请输入影印件类型',
                    trigger: 'blur'
                }],
            }
        },
        methods: {
            handleAdd: function() {
                vm.detailVisible = true;
                vm.operateType = 'create';
            },
            handleView: function(index, row) {
                console.log(this, arguments);
                onView(row);
            },
            handleEdit: function(index, row) {
                console.log(this, arguments);
                this.operateType = 'update';
                onView(row);
            },
            handleCurrentChange: function(currentPage) {
                console.log(this, arguments);
                this.pagination.page = currentPage;
                onSearch();
            },
            handleSizeChange: function(size) {
                console.log(this, arguments);
                this.pagination.rows = size;
                onSearch();
            },
            submitForm: function(formName) {
                var self = this;
                if (formName == 'searchForm') {
                    onSearch();
                } else {
                    self.$refs[formName].validate(function(valid) {
                        if (valid) {
                            onSubmit();
                        } else {
                            return false;
                        }
                    });
                }
            },
            resetForm: function(formName) {
                this.$refs[formName].resetFields();
            },
            formatFilename: function(row, column) {
                var url = $$.wrapUrl('/action/uploads/' + row.serverid);
                var s = '<a href="' + url + '" target="_blank">' + row.filename + '</a>';
                return s;
            },
            formatElecInfoType: function(row, column) {
                return $$.formatField($$.param['elec_info_type'], row.elec_info_type);
            },
            handleRemove: function(file, fileList) {
                console.log(file, fileList);
            },
            handlePictureCardPreview: function(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            }
        }
    });
    </script>
</body>

</html>
