<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商户信息</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../lib/element-ui/theme-default/index.css">
    <style type="text/css">
    html,
    body{
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;
    }

    #app {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    
    .search-box {
        padding: 20px;
    }

    .detail-box {
        padding: 20px;
    }

    .form-box {
        min-width: 400px;
        max-width: 600px;
    }    

    .pagination {
        margin: 20px 0;
        text-align: right;
    }
    </style>
</head>

<body>
    <div id="app">
        <div class="search-box" v-if="!detailVisible">
            <div class="form-box">
                <el-form ref="searchForm" :model="searchForm" label-width="100px">
                    <el-form-item label="客户号" prop="mchnt_id">
                        <el-input v-model="searchForm.mchnt_id"></el-input>
                    </el-form-item>
                    <el-form-item label="联系人" prop="linkman">
                        <el-input v-model="searchForm.linkman"></el-input>
                    </el-form-item>
                    <el-form-item label="手机" prop="mobile">
                        <el-input v-model="searchForm.mobile"></el-input>
                    </el-form-item>
                    <el-form-item label="常用邮箱" prop="email">
                        <el-input v-model="searchForm.email"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('searchForm')">查询</el-button>
                        <el-button @click="resetForm('searchForm')">重置</el-button>
                        <el-button @click="handleAdd">新增</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <el-table :data="pagination.data" border style="width: 100%">
                <el-table-column prop="mchnt_id" label="客户号"></el-table-column>
                <el-table-column prop="linkman" label="联系人"></el-table-column>
                <el-table-column prop="mobile" label="手机"></el-table-column>
                <el-table-column prop="email" label="常用邮箱"></el-table-column>
                <el-table-column prop="mchnt_abbr" label="商户简称"></el-table-column>
                <el-table-column prop="telno" label="联系电话"></el-table-column>
                <el-table-column prop="province" label="所在地区(省)"></el-table-column>
                <el-table-column prop="city" label="所在地区(市)"></el-table-column>
                <el-table-column prop="district" label="所在地区(区)"></el-table-column>
                <el-table-column prop="addr" label="详细地址"></el-table-column>
                <el-table-column prop="mchnt_name" label="商户名称"></el-table-column>
                <el-table-column prop="license_no" label="营业执照号"></el-table-column>
                <el-table-column prop="license_date" label="营业执照期限"></el-table-column>
                <el-table-column prop="license_addr" label="注册地址"></el-table-column>
                <el-table-column prop="business_scope" label="经营范围"></el-table-column>
                <el-table-column prop="cert_type" label="证件类型"></el-table-column>
                <el-table-column prop="cert_name" label="证件姓名"></el-table-column>
                <el-table-column prop="cert_id" label="证件号码"></el-table-column>
                <el-table-column prop="cert_date" label="证件有效期"></el-table-column>
                <el-table-column prop="org_code" label="组织机构代码"></el-table-column>
                <el-table-column prop="status" label="状态-删除"></el-table-column>
                <el-table-column prop="remark" label="备注"></el-table-column>
                <el-table-column prop="expand_inst_id" label="拓展方"></el-table-column>
                <el-table-column prop="expand_id" label="拓展人"></el-table-column>
                <el-table-column label="操作" width="150">
                    <template scope="scope">
                        <el-button size="small" @click="handleView(scope.$index, scope.row)">查看</el-button>
                        <el-button size="small" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination">
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="pagination.page" :page-sizes="[10, 20, 50, 100]" :page-size="pagination.rows" layout="total, sizes, prev, pager, next, jumper" :total="pagination.total">
            </el-pagination>
            </div>
        </div>
        <el-dialog v-model="detailVisible" size="full">
            <div class="detail-box">
            <div class="form-box">
                <el-form ref="detailForm" :model="detailForm" :rules="rules" label-width="100px">
                    <el-form-item label="客户号" prop="mchnt_id">
                        <el-input v-model="detailForm.mchnt_id"></el-input>
                    </el-form-item>
                    <el-form-item label="联系人" prop="linkman">
                        <el-input v-model="detailForm.linkman"></el-input>
                    </el-form-item>
                    <el-form-item label="手机" prop="mobile">
                        <el-input v-model="detailForm.mobile"></el-input>
                    </el-form-item>
                    <el-form-item label="常用邮箱" prop="email">
                        <el-input v-model="detailForm.email"></el-input>
                    </el-form-item>
                    <el-form-item label="商户简称" prop="mchnt_abbr">
                        <el-input v-model="detailForm.mchnt_abbr"></el-input>
                    </el-form-item>
                    <el-form-item label="联系电话" prop="telno">
                        <el-input v-model="detailForm.telno"></el-input>
                    </el-form-item>
                    <el-form-item label="所在地区(省)" prop="province">
                        <el-input v-model="detailForm.province"></el-input>
                    </el-form-item>
                    <el-form-item label="所在地区(市)" prop="city">
                        <el-input v-model="detailForm.city"></el-input>
                    </el-form-item>
                    <el-form-item label="所在地区(区)" prop="district">
                        <el-input v-model="detailForm.district"></el-input>
                    </el-form-item>
                    <el-form-item label="详细地址" prop="addr">
                        <el-input v-model="detailForm.addr"></el-input>
                    </el-form-item>
                    <el-form-item label="商户名称" prop="mchnt_name">
                        <el-input v-model="detailForm.mchnt_name"></el-input>
                    </el-form-item>
                    <el-form-item label="营业执照号" prop="license_no">
                        <el-input v-model="detailForm.license_no"></el-input>
                    </el-form-item>
                    <el-form-item label="营业执照期限" prop="license_date">
                        <el-input v-model="detailForm.license_date"></el-input>
                    </el-form-item>
                    <el-form-item label="注册地址" prop="license_addr">
                        <el-input v-model="detailForm.license_addr"></el-input>
                    </el-form-item>
                    <el-form-item label="经营范围" prop="business_scope">
                        <el-input v-model="detailForm.business_scope"></el-input>
                    </el-form-item>
                    <el-form-item label="证件类型" prop="cert_type">
                        <el-input v-model="detailForm.cert_type"></el-input>
                    </el-form-item>
                    <el-form-item label="证件姓名" prop="cert_name">
                        <el-input v-model="detailForm.cert_name"></el-input>
                    </el-form-item>
                    <el-form-item label="证件号码" prop="cert_id">
                        <el-input v-model="detailForm.cert_id"></el-input>
                    </el-form-item>
                    <el-form-item label="证件有效期" prop="cert_date">
                        <el-input v-model="detailForm.cert_date"></el-input>
                    </el-form-item>
                    <el-form-item label="组织机构代码" prop="org_code">
                        <el-input v-model="detailForm.org_code"></el-input>
                    </el-form-item>
                    <el-form-item label="状态-删除" prop="status">
                        <el-input v-model="detailForm.status"></el-input>
                    </el-form-item>
                    <el-form-item label="备注" prop="remark">
                        <el-input v-model="detailForm.remark"></el-input>
                    </el-form-item>
                    <el-form-item label="拓展方" prop="expand_inst_id">
                        <el-input v-model="detailForm.expand_inst_id"></el-input>
                    </el-form-item>
                    <el-form-item label="拓展人" prop="expand_id">
                        <el-input v-model="detailForm.expand_id"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('detailForm')">提交</el-button>
                        <el-button @click="detailVisible=false">返回</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
        </el-dialog>
    </div>
    <!-- 先引入 Vue -->
    <script src="../lib/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../lib/element-ui/index.js"></script>
    <script src="../lib/axios/axios.js"></script>
    <script src="../js/base2.js"></script>
    <script>
    function onSearch() {
        console.log(this, arguments);
        var param = $$.extend({}, vm.searchForm, vm.pagination);
        $$.request('/action/bm/mchnt-base-info/search', param, function(data) {
            vm.pagination.data = data.rows;
            vm.pagination.total = data.total;
        });
    }

    function onView(param) {
        vm.detailVisible = true;

        $$.request('/action/bm/mchnt-base-info/view', param, function(data) {
            vm.detailForm = data.data;
        });
    }

    function onSubmit() {
        $$.request('/action/bm/mchnt-base-info/' + vm.operateType, vm.detailForm, function(data) {
            //
        });
    }


    var vm = new Vue({
        el: '#app',
        data: {
            operateType: null,
            detailVisible: false,
            searchForm: {
            },
            pagination: {
                page: 1,
                rows: 10,
                total: 0,
                data: []
            },
            detailForm: {},
            rules: {
                mchnt_id: [{
                    required: true,
                    message: '请输入客户号',
                    trigger: 'blur'
                }],
                linkman: [{
                    required: true,
                    message: '请输入联系人',
                    trigger: 'blur'
                }],
                mobile: [{
                    required: true,
                    message: '请输入手机',
                    trigger: 'blur'
                }],
                mchnt_abbr: [{
                    required: true,
                    message: '请输入商户简称',
                    trigger: 'blur'
                }],
                province: [{
                    required: true,
                    message: '请输入所在地区(省)',
                    trigger: 'blur'
                }],
                city: [{
                    required: true,
                    message: '请输入所在地区(市)',
                    trigger: 'blur'
                }],
                district: [{
                    required: true,
                    message: '请输入所在地区(区)',
                    trigger: 'blur'
                }],
                addr: [{
                    required: true,
                    message: '请输入详细地址',
                    trigger: 'blur'
                }],
                expand_inst_id: [{
                    required: true,
                    message: '请输入拓展方',
                    trigger: 'blur'
                }],
                expand_id: [{
                    required: true,
                    message: '请输入拓展人',
                    trigger: 'blur'
                }]
            }
        },
        methods: {
            handleAdd: function() {
                vm.detailVisible = true;
                vm.operateType = 'create';
            },
            handleView: function(index, row) {
                console.log(this, arguments);
                onView(row);
            },
            handleEdit: function(index, row) {
                console.log(this, arguments);
                this.operateType = 'update';
                onView(row);
            },
            handleCurrentChange: function(currentPage) {
                console.log(this, arguments);
                this.pagination.page = currentPage;
                onSearch();
            },
            handleSizeChange: function(size) {
                console.log(this, arguments);
                this.pagination.rows = size;
                onSearch();
            },
            submitForm: function(formName) {
                var self = this;
                if (formName == 'searchForm') {
                    onSearch();
                } else {
                    self.$refs[formName].validate(function(valid) {
                        if (valid) {
                            onSubmit();
                        } else {
                            return false;
                        }
                    });
                }
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    });
    </script>
</body>

</html>