<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商户参数</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../lib/element-ui/theme-default/index.css">
    <style type="text/css">
    html,
    body{
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;
    }

    #app {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    
    .search-box {
        padding: 20px;
    }

    .detail-box {
        padding: 20px;
    }

    .form-box {
        min-width: 400px;
        max-width: 600px;
    }    

    .pagination {
        margin: 20px 0;
        text-align: right;
    }
    </style>
</head>

<body>
    <div id="app">
        <div class="search-box" v-if="!detailVisible">
            <div class="form-box">
                <el-form ref="searchForm" :model="searchForm" label-width="100px">
                    <el-form-item label="商户参数ID" prop="mchnt_param_id">
                        <el-input v-model="searchForm.mchnt_param_id"></el-input>
                    </el-form-item>
                    <el-form-item label="业务类型" prop="busi_type">
                        <el-input v-model="searchForm.busi_type"></el-input>
                    </el-form-item>
                    <el-form-item label="收单机构" prop="acq_inst_id">
                        <el-input v-model="searchForm.acq_inst_id"></el-input>
                    </el-form-item>
                    <el-form-item label="商户号" prop="mchnt_cd">
                        <el-input v-model="searchForm.mchnt_cd"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('searchForm')">查询</el-button>
                        <el-button @click="resetForm('searchForm')">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <el-table :data="searchTableData" border style="width: 100%">
                <el-table-column prop="mchnt_param_id" label="商户参数ID"></el-table-column>
                <el-table-column prop="busi_type" label="业务类型"></el-table-column>
                <el-table-column prop="acq_inst_id" label="收单机构"></el-table-column>
                <el-table-column prop="mchnt_cd" label="商户号"></el-table-column>
                <el-table-column prop="mchnt_name" label="商户名称"></el-table-column>
                <el-table-column prop="account_type" label="账户类型"></el-table-column>
                <el-table-column prop="account_name" label="开户名称"></el-table-column>
                <el-table-column prop="account_bank" label="开户银行"></el-table-column>
                <el-table-column prop="account_province" label="开户银行省"></el-table-column>
                <el-table-column prop="account_city" label="开户银行市"></el-table-column>
                <el-table-column prop="account_bank_branch_cd" label="开户支行"></el-table-column>
                <el-table-column prop="account_no" label="银行账号"></el-table-column>
                <el-table-column prop="credit_flag" label="信用卡开关"></el-table-column>
                <el-table-column prop="credit_card_limit" label="信用卡限额"></el-table-column>
                <el-table-column prop="credit_date_limit" label="信用卡日限额"></el-table-column>
                <el-table-column prop="debit_card_limit" label="借记卡限额"></el-table-column>
                <el-table-column prop="debit_date_limit" label="借记卡日限额"></el-table-column>
                <el-table-column prop="mcc" label="MCC"></el-table-column>
                <el-table-column prop="mcc18" label="MCC18"></el-table-column>
                <el-table-column prop="debit_card_fee" label="借记卡手续费"></el-table-column>
                <el-table-column prop="credit_card_fee" label="贷记卡手续费"></el-table-column>
                <el-table-column prop="fee" label="手续费(千分比)"></el-table-column>
                <el-table-column prop="status" label="参数状态"></el-table-column>
                <el-table-column prop="expand_inst_id" label="拓展方"></el-table-column>
                <el-table-column prop="expand_id" label="拓展人"></el-table-column>
                <el-table-column label="操作" width="150">
                    <template scope="scope">
                        <el-button size="small" @click="handleView(scope.$index, scope.row)">查看</el-button>
                        <el-button size="small" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination">
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="1" :page-sizes="[10, 20, 50, 100]" :page-size="10" layout="total, sizes, prev, pager, next, jumper" :total="0">
            </el-pagination>
            </div>
        </div>
        <el-dialog v-model="detailVisible" size="full">
            <div class="detail-box">
            <div class="form-box">
                <el-form ref="detailForm" :model="detailForm" :rules="rules" label-width="100px">
                    <el-form-item label="商户参数ID" prop="mchnt_param_id">
                        <el-input v-model="detailForm.mchnt_param_id"></el-input>
                    </el-form-item>
                    <el-form-item label="业务类型" prop="busi_type">
                        <el-input v-model="detailForm.busi_type"></el-input>
                    </el-form-item>
                    <el-form-item label="收单机构" prop="acq_inst_id">
                        <el-input v-model="detailForm.acq_inst_id"></el-input>
                    </el-form-item>
                    <el-form-item label="商户号" prop="mchnt_cd">
                        <el-input v-model="detailForm.mchnt_cd"></el-input>
                    </el-form-item>
                    <el-form-item label="商户名称" prop="mchnt_name">
                        <el-input v-model="detailForm.mchnt_name"></el-input>
                    </el-form-item>
                    <el-form-item label="账户类型" prop="account_type">
                        <el-input v-model="detailForm.account_type"></el-input>
                    </el-form-item>
                    <el-form-item label="开户名称" prop="account_name">
                        <el-input v-model="detailForm.account_name"></el-input>
                    </el-form-item>
                    <el-form-item label="开户银行" prop="account_bank">
                        <el-input v-model="detailForm.account_bank"></el-input>
                    </el-form-item>
                    <el-form-item label="开户银行省" prop="account_province">
                        <el-input v-model="detailForm.account_province"></el-input>
                    </el-form-item>
                    <el-form-item label="开户银行市" prop="account_city">
                        <el-input v-model="detailForm.account_city"></el-input>
                    </el-form-item>
                    <el-form-item label="开户支行" prop="account_bank_branch_cd">
                        <el-input v-model="detailForm.account_bank_branch_cd"></el-input>
                    </el-form-item>
                    <el-form-item label="银行账号" prop="account_no">
                        <el-input v-model="detailForm.account_no"></el-input>
                    </el-form-item>
                    <el-form-item label="信用卡开关" prop="credit_flag">
                        <el-input v-model="detailForm.credit_flag"></el-input>
                    </el-form-item>
                    <el-form-item label="信用卡限额" prop="credit_card_limit">
                        <el-input v-model="detailForm.credit_card_limit"></el-input>
                    </el-form-item>
                    <el-form-item label="信用卡日限额" prop="credit_date_limit">
                        <el-input v-model="detailForm.credit_date_limit"></el-input>
                    </el-form-item>
                    <el-form-item label="借记卡限额" prop="debit_card_limit">
                        <el-input v-model="detailForm.debit_card_limit"></el-input>
                    </el-form-item>
                    <el-form-item label="借记卡日限额" prop="debit_date_limit">
                        <el-input v-model="detailForm.debit_date_limit"></el-input>
                    </el-form-item>
                    <el-form-item label="MCC" prop="mcc">
                        <el-input v-model="detailForm.mcc"></el-input>
                    </el-form-item>
                    <el-form-item label="MCC18" prop="mcc18">
                        <el-input v-model="detailForm.mcc18"></el-input>
                    </el-form-item>
                    <el-form-item label="借记卡手续费" prop="debit_card_fee">
                        <el-input v-model="detailForm.debit_card_fee"></el-input>
                    </el-form-item>
                    <el-form-item label="贷记卡手续费" prop="credit_card_fee">
                        <el-input v-model="detailForm.credit_card_fee"></el-input>
                    </el-form-item>
                    <el-form-item label="手续费(千分比)" prop="fee">
                        <el-input v-model="detailForm.fee"></el-input>
                    </el-form-item>
                    <el-form-item label="参数状态" prop="status">
                        <el-input v-model="detailForm.status"></el-input>
                    </el-form-item>
                    <el-form-item label="拓展方" prop="expand_inst_id">
                        <el-input v-model="detailForm.expand_inst_id"></el-input>
                    </el-form-item>
                    <el-form-item label="拓展人" prop="expand_id">
                        <el-input v-model="detailForm.expand_id"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('detailForm')">提交</el-button>
                        <el-button @click="detailVisible=false">返回</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
        </el-dialog>
    </div>
    <!-- 先引入 Vue -->
    <script src="../lib/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../lib/element-ui/index.js"></script>
    <script src="../lib/axios/axios.js"></script>
    <script src="../js/base2.js"></script>
    <script>
    function onSearch() {
        console.log(this, arguments);
        $$.request('/action/bm/mchnt-param/search', vm.searchForm, function(data) {
            vm.searchTableData = data.rows;
            vm.searchForm.total = data.total;
        });
    }

    function onView(param) {
        vm.detailVisible = true;

        $$.request('/action/bm/mchnt-param/view', param, function(data) {
            vm.detailForm = data.data;
        });
    }

    function onSubmit() {
        $$.request('/action/bm/mchnt-param/update', vm.detailForm, function(data) {
            //
        });
    }


    var vm = new Vue({
        el: '#app',
        data: {
            detailVisible: false,
            searchForm: {
                page: 1,
                rows: 10,
                total: 0
            },
            searchTableData: [],
            detailForm: {},
            rules: {
                mchnt_param_id: [{
                    required: true,
                    message: '请输入商户参数ID',
                    trigger: 'blur'
                }],
                busi_type: [{
                    required: true,
                    message: '请输入业务类型',
                    trigger: 'blur'
                }],
                expand_inst_id: [{
                    required: true,
                    message: '请输入拓展方',
                    trigger: 'blur'
                }],
                expand_id: [{
                    required: true,
                    message: '请输入拓展人',
                    trigger: 'blur'
                }]
            }
        },
        methods: {
            handleView: function(index, row) {
                console.log(this, arguments);
                onView(row);
            },
            handleEdit: function(index, row) {
                console.log(this, arguments);
                onView(row);
            },
            handleCurrentChange: function(currentPage) {
                console.log(this, arguments);
                this.searchForm.page = currentPage;
                onSearch();
            },
            handleSizeChange: function(size) {
                console.log(this, arguments);
                this.searchForm.rows = size;
                onSearch();
            },
            submitForm: function(formName) {
                var self = this;
                if (formName == 'searchForm') {
                    onSearch();
                } else {
                    self.$refs[formName].validate(function(valid) {
                        if (valid) {
                            onSubmit();
                        } else {
                            return false;
                        }
                    });
                }
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    });
    </script>
</body>

</html>