<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商户电子资料</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../lib/element-ui/theme-default/index.css">
    <style type="text/css">
    html,
    body{
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;
    }

    #app {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    
    .search-box {
        padding: 20px;
    }

    .detail-box {
        padding: 20px;
    }

    .form-box {
        min-width: 400px;
        max-width: 600px;
    }    

    .pagination {
        margin: 20px 0;
        text-align: right;
    }
    </style>
</head>

<body>
    <div id="app">
        <div class="search-box" v-if="!detailVisible">
            <div class="form-box">
                <el-form ref="searchForm" :model="searchForm" label-width="100px">
                    <el-form-item label="文件名" prop="mchnt_id">
                        <el-input v-model="searchForm.mchnt_id"></el-input>
                    </el-form-item>
                    <el-form-item label="服务端ID" prop="serverid">
                        <el-input v-model="searchForm.serverid"></el-input>
                    </el-form-item>
                    <el-form-item label="影印件类型" prop="elec_info_type">
                        <el-input v-model="searchForm.elec_info_type"></el-input>
                    </el-form-item>
                    <el-form-item label="是否有效" prop="status">
                        <el-input v-model="searchForm.status"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('searchForm')">查询</el-button>
                        <el-button @click="resetForm('searchForm')">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <el-table :data="searchTableData" border style="width: 100%">
                <el-table-column prop="mchnt_id" label="文件名"></el-table-column>
                <el-table-column prop="serverid" label="服务端ID"></el-table-column>
                <el-table-column prop="elec_info_type" label="影印件类型"></el-table-column>
                <el-table-column prop="status" label="是否有效"></el-table-column>
                <el-table-column label="操作" width="150">
                    <template scope="scope">
                        <el-button size="small" @click="handleView(scope.$index, scope.row)">查看</el-button>
                        <el-button size="small" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination">
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="1" :page-sizes="[10, 20, 50, 100]" :page-size="10" layout="total, sizes, prev, pager, next, jumper" :total="0">
            </el-pagination>
            </div>
        </div>
        <el-dialog v-model="detailVisible" size="full">
            <div class="detail-box">
            <div class="form-box">
                <el-form ref="detailForm" :model="detailForm" :rules="rules" label-width="100px">
                    <el-form-item label="文件名" prop="mchnt_id">
                        <el-input v-model="detailForm.mchnt_id"></el-input>
                    </el-form-item>
                    <el-form-item label="服务端ID" prop="serverid">
                        <el-input v-model="detailForm.serverid"></el-input>
                    </el-form-item>
                    <el-form-item label="影印件类型" prop="elec_info_type">
                        <el-input v-model="detailForm.elec_info_type"></el-input>
                    </el-form-item>
                    <el-form-item label="是否有效" prop="status">
                        <el-input v-model="detailForm.status"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('detailForm')">提交</el-button>
                        <el-button @click="detailVisible=false">返回</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
        </el-dialog>
    </div>
    <!-- 先引入 Vue -->
    <script src="../lib/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../lib/element-ui/index.js"></script>
    <script src="../lib/axios/axios.js"></script>
    <script src="../js/base2.js"></script>
    <script>
    function onSearch() {
        console.log(this, arguments);
        $$.request('/action/bm/mchnt-elec-info/search', vm.searchForm, function(data) {
            vm.searchTableData = data.rows;
            vm.searchForm.total = data.total;
        });
    }

    function onView(param) {
        vm.detailVisible = true;

        $$.request('/action/bm/mchnt-elec-info/view', param, function(data) {
            vm.detailForm = data.data;
        });
    }

    function onSubmit() {
        $$.request('/action/bm/mchnt-elec-info/update', vm.detailForm, function(data) {
            //
        });
    }


    var vm = new Vue({
        el: '#app',
        data: {
            detailVisible: false,
            searchForm: {
                page: 1,
                rows: 10,
                total: 0
            },
            searchTableData: [],
            detailForm: {},
            rules: {
                elec_info_type: [{
                    required: true,
                    message: '请输入影印件类型',
                    trigger: 'blur'
                }],
            }
        },
        methods: {
            handleView: function(index, row) {
                console.log(this, arguments);
                onView(row);
            },
            handleEdit: function(index, row) {
                console.log(this, arguments);
                onView(row);
            },
            handleCurrentChange: function(currentPage) {
                console.log(this, arguments);
                this.searchForm.page = currentPage;
                onSearch();
            },
            handleSizeChange: function(size) {
                console.log(this, arguments);
                this.searchForm.rows = size;
                onSearch();
            },
            submitForm: function(formName) {
                var self = this;
                if (formName == 'searchForm') {
                    onSearch();
                } else {
                    self.$refs[formName].validate(function(valid) {
                        if (valid) {
                            onSubmit();
                        } else {
                            return false;
                        }
                    });
                }
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    });
    </script>
</body>

</html>