<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>终端信息</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../lib/element-ui/theme-default/index.css">
    <style type="text/css">
    html,
    body{
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;
    }

    #app {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    
    .search-box {
        padding: 20px;
    }

    .detail-box {
        padding: 20px;
    }

    .form-box {
        min-width: 400px;
        max-width: 600px;
    }    

    .pagination {
        margin: 20px 0;
        text-align: right;
    }
    </style>
</head>

<body>
    <div id="app">
        <div class="search-box" v-if="!detailVisible">
            <div class="form-box">
                <el-form ref="searchForm" :model="searchForm" label-width="100px">
                    <el-form-item label="终端标识" prop="term_no">
                        <el-input v-model="searchForm.term_no"></el-input>
                    </el-form-item>
                    <el-form-item label="客户号" prop="mchnt_id">
                        <el-input v-model="searchForm.mchnt_id"></el-input>
                    </el-form-item>
                    <el-form-item label="联系人" prop="linkman">
                        <el-input v-model="searchForm.linkman"></el-input>
                    </el-form-item>
                    <el-form-item label="手机号" prop="mobile">
                        <el-input v-model="searchForm.mobile"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('searchForm')">查询</el-button>
                        <el-button @click="resetForm('searchForm')">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <el-table :data="searchTableData" border style="width: 100%">
                <el-table-column prop="term_no" label="终端标识"></el-table-column>
                <el-table-column prop="mchnt_id" label="客户号"></el-table-column>
                <el-table-column prop="linkman" label="联系人"></el-table-column>
                <el-table-column prop="mobile" label="手机号"></el-table-column>
                <el-table-column prop="shop_name" label="门店名称"></el-table-column>
                <el-table-column prop="telno" label="联系电话"></el-table-column>
                <el-table-column prop="province" label="所在地区(省)"></el-table-column>
                <el-table-column prop="city" label="所在地区(市)"></el-table-column>
                <el-table-column prop="district" label="所在地区(区)"></el-table-column>
                <el-table-column prop="addr" label="详细地址"></el-table-column>
                <el-table-column prop="term_inves" label="终端投资方"></el-table-column>
                <el-table-column prop="equi_type" label="机具类型"></el-table-column>
                <el-table-column prop="installed_date" label="装机日期"></el-table-column>
                <el-table-column prop="removed_date" label="撤机日期"></el-table-column>
                <el-table-column prop="installed_by" label="装机人"></el-table-column>
                <el-table-column prop="maintained_by" label="维护人"></el-table-column>
                <el-table-column prop="term_status" label="终端状态"></el-table-column>
                <el-table-column prop="expand_inst_id" label="拓展方"></el-table-column>
                <el-table-column prop="expand_id" label="拓展人"></el-table-column>
                <el-table-column label="操作" width="150">
                    <template scope="scope">
                        <el-button size="small" @click="handleView(scope.$index, scope.row)">查看</el-button>
                        <el-button size="small" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination">
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="1" :page-sizes="[10, 20, 50, 100]" :page-size="10" layout="total, sizes, prev, pager, next, jumper" :total="0">
            </el-pagination>
            </div>
        </div>
        <el-dialog v-model="detailVisible" size="full">
            <div class="detail-box">
            <div class="form-box">
                <el-form ref="detailForm" :model="detailForm" :rules="rules" label-width="100px">
                    <el-form-item label="终端标识" prop="term_no">
                        <el-input v-model="detailForm.term_no"></el-input>
                    </el-form-item>
                    <el-form-item label="客户号" prop="mchnt_id">
                        <el-input v-model="detailForm.mchnt_id"></el-input>
                    </el-form-item>
                    <el-form-item label="联系人" prop="linkman">
                        <el-input v-model="detailForm.linkman"></el-input>
                    </el-form-item>
                    <el-form-item label="手机号" prop="mobile">
                        <el-input v-model="detailForm.mobile"></el-input>
                    </el-form-item>
                    <el-form-item label="门店名称" prop="shop_name">
                        <el-input v-model="detailForm.shop_name"></el-input>
                    </el-form-item>
                    <el-form-item label="联系电话" prop="telno">
                        <el-input v-model="detailForm.telno"></el-input>
                    </el-form-item>
                    <el-form-item label="所在地区(省)" prop="province">
                        <el-input v-model="detailForm.province"></el-input>
                    </el-form-item>
                    <el-form-item label="所在地区(市)" prop="city">
                        <el-input v-model="detailForm.city"></el-input>
                    </el-form-item>
                    <el-form-item label="所在地区(区)" prop="district">
                        <el-input v-model="detailForm.district"></el-input>
                    </el-form-item>
                    <el-form-item label="详细地址" prop="addr">
                        <el-input v-model="detailForm.addr"></el-input>
                    </el-form-item>
                    <el-form-item label="终端投资方" prop="term_inves">
                        <el-input v-model="detailForm.term_inves"></el-input>
                    </el-form-item>
                    <el-form-item label="机具类型" prop="equi_type">
                        <el-input v-model="detailForm.equi_type"></el-input>
                    </el-form-item>
                    <el-form-item label="装机日期" prop="installed_date">
                        <el-input v-model="detailForm.installed_date"></el-input>
                    </el-form-item>
                    <el-form-item label="撤机日期" prop="removed_date">
                        <el-input v-model="detailForm.removed_date"></el-input>
                    </el-form-item>
                    <el-form-item label="装机人" prop="installed_by">
                        <el-input v-model="detailForm.installed_by"></el-input>
                    </el-form-item>
                    <el-form-item label="维护人" prop="maintained_by">
                        <el-input v-model="detailForm.maintained_by"></el-input>
                    </el-form-item>
                    <el-form-item label="终端状态" prop="term_status">
                        <el-input v-model="detailForm.term_status"></el-input>
                    </el-form-item>
                    <el-form-item label="拓展方" prop="expand_inst_id">
                        <el-input v-model="detailForm.expand_inst_id"></el-input>
                    </el-form-item>
                    <el-form-item label="拓展人" prop="expand_id">
                        <el-input v-model="detailForm.expand_id"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('detailForm')">提交</el-button>
                        <el-button @click="detailVisible=false">返回</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
        </el-dialog>
    </div>
    <!-- 先引入 Vue -->
    <script src="../lib/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../lib/element-ui/index.js"></script>
    <script src="../lib/axios/axios.js"></script>
    <script src="../js/base2.js"></script>
    <script>
    function onSearch() {
        console.log(this, arguments);
        $$.request('/action/bm/term-info/search', vm.searchForm, function(data) {
            vm.searchTableData = data.rows;
            vm.searchForm.total = data.total;
        });
    }

    function onView(param) {
        vm.detailVisible = true;

        $$.request('/action/bm/term-info/view', param, function(data) {
            vm.detailForm = data.data;
        });
    }

    function onSubmit() {
        $$.request('/action/bm/term-info/update', vm.detailForm, function(data) {
            //
        });
    }


    var vm = new Vue({
        el: '#app',
        data: {
            detailVisible: false,
            searchForm: {
                page: 1,
                rows: 10,
                total: 0
            },
            searchTableData: [],
            detailForm: {},
            rules: {
                term_no: [{
                    required: true,
                    message: '请输入终端标识',
                    trigger: 'blur'
                }],
                mchnt_id: [{
                    required: true,
                    message: '请输入客户号',
                    trigger: 'blur'
                }],
                linkman: [{
                    required: true,
                    message: '请输入联系人',
                    trigger: 'blur'
                }],
                mobile: [{
                    required: true,
                    message: '请输入手机号',
                    trigger: 'blur'
                }],
                shop_name: [{
                    required: true,
                    message: '请输入门店名称',
                    trigger: 'blur'
                }],
                province: [{
                    required: true,
                    message: '请输入所在地区(省)',
                    trigger: 'blur'
                }],
                city: [{
                    required: true,
                    message: '请输入所在地区(市)',
                    trigger: 'blur'
                }],
                district: [{
                    required: true,
                    message: '请输入所在地区(区)',
                    trigger: 'blur'
                }],
                addr: [{
                    required: true,
                    message: '请输入详细地址',
                    trigger: 'blur'
                }],
                term_inves: [{
                    required: true,
                    message: '请输入终端投资方',
                    trigger: 'blur'
                }],
                equi_type: [{
                    required: true,
                    message: '请输入机具类型',
                    trigger: 'blur'
                }],
                term_status: [{
                    required: true,
                    message: '请输入终端状态',
                    trigger: 'blur'
                }],
                expand_inst_id: [{
                    required: true,
                    message: '请输入拓展方',
                    trigger: 'blur'
                }],
                expand_id: [{
                    required: true,
                    message: '请输入拓展人',
                    trigger: 'blur'
                }]
            }
        },
        methods: {
            handleView: function(index, row) {
                console.log(this, arguments);
                onView(row);
            },
            handleEdit: function(index, row) {
                console.log(this, arguments);
                onView(row);
            },
            handleCurrentChange: function(currentPage) {
                console.log(this, arguments);
                this.searchForm.page = currentPage;
                onSearch();
            },
            handleSizeChange: function(size) {
                console.log(this, arguments);
                this.searchForm.rows = size;
                onSearch();
            },
            submitForm: function(formName) {
                var self = this;
                if (formName == 'searchForm') {
                    onSearch();
                } else {
                    self.$refs[formName].validate(function(valid) {
                        if (valid) {
                            onSubmit();
                        } else {
                            return false;
                        }
                    });
                }
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    });
    </script>
</body>

</html>